/* .gradiant{
    background-image: linear-gradient(to top , blue , aqua, white);
    height: 550px;
} */
/* .gradiant{
    background-image: linear-gradient(to top left, blue , aqua, white);
    height: 550px;
} */
.gradiant{
    background-image: linear-gradient(120deg, blue , aqua);
    height: 550px;
}

/* .gradiant{
    background-image: radial-gradient( blue 5%, aqua 40%, white);
    height: 550px;
} */

